[user]
	name = Jack Xu
	email = yurusanP@gmail.com
[init]
	defaultBranch = main
[core]
	editor = nvim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
